@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --main-color: #838171;
  --black: #222;
  --white: #fff;
  --light-black: rgb(75, 72, 72);
  --light-white: #fff9;
  --light-bg:rgba(177, 174, 140, 0.17);
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  --webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
    box-sizing: border-box;
}

* { 
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  background-color: none;
  text-align:justify;
}

html {
  font-size: 55.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color:#838171;
}

section {
  padding: 3rem 10%;
}



@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

.navbar a {
	color: var(--white);
	text-align: right;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
  margin-right: 75px;
}
.navbar {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.navbar {
	background-color: rgba(142, 139, 139, 0.647);
  color: #ffffff;
	padding: 0px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 2000px;
	z-index:1030;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand{
  margin-left: 60px;
}
.navbar a {
  color:black}

.bgColor { 
  transition: all 1s;
  background-color:rgb(170, 165, 150);
  color:var(--white);
  border-bottom: 1px solid rgb(140, 140, 133);
}  


.navbar-nav a:hover {
	color: #f7f7f6;
  
}

.navbar-nav a.active {
	color: var(--white);
}

.navbar-nav a {
	transition: color 0.5s ease;
}

.navbtn{
  display: inline-block;
  background:#8a8233;
  color:var(--white);
  font-size: 1.7rem;
  padding:1rem 1rem;
  padding-left: 0;
  cursor: pointer; 
  text-align: center;
}

.heading{
  background-size: cover!important;
  background-position: center !important;
  margin-top: 2.8rem;
  padding-top: 10rem;
  padding-bottom:15rem;
  display: sticky;
  align-items: center;
  justify-content: center;
  max-height:30rem;
}

.heading h1{
  font-size: 10rem;
  margin-top: 50px;
  text-transform: uppercase;
  color:var(--white);
  text-shadow: var(--text-shadow);
}
.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.btn {
  display: inline-block ;
  background: rgb(130, 130, 68);
  border: 1px rgb(183, 183, 123);
  border-radius: 2.5px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer; 
  text-decoration:none ;
}

.btn:hover {
  background:rgb(23, 23, 23);
  color: #ffffff;
}

.footer{
	background-color: #24262b;
    padding: 40px 0; 
}
 
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #8a8233;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer .credit{
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: .1rem solid var(--light-white);
  font-size: 2rem;
  color:var(--white);
}

.footer .credit span{
  color:rgba(255,255,255,0.2);
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

}
.home {
  padding: 0;
}

#carouselExampleFade{
  display: relative;
  align-items: center;
  justify-content: center;
  background-size: contain !important;
  background-position: center !important;  
}

.intro{
  background:var(--light-bg);
  height: 150px;
  color:black;
  
}
.slogan{
  text-align: center;
  text-transform: capitalize;
  font-family:monospace;
  font-size: 25px;
 }

 .slogan1{
  font-size: 18px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 
.slogan-para{
  text-align: center;
  position: relative;
  margin-top: 100px;
  text-align:center;
  font-size:20px;
  margin-bottom:20px;

}
.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 100%;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background:var(--light-bg);
}

.home-about .content h3 {
  font-size: 4rem;
  color: var(--black);
}

.home-about .content p {
  font-size: 1.8rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--black);
}

 .see-btn {
  display: inline-block ;
  background: rgb(64, 64, 60);
  border: 1px rgb(78, 78, 68);
  border-radius: 2.5px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 1rem;
  cursor: pointer; 
  text-decoration:none ; 
}

 .see-btn:hover {
  background:rgb(142, 139, 139);
  color: white;
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box{
  padding:3rem 2rem;
  text-align: center;
  background: var(--main-color);
}

.services .box-container .box:hover{
  background: var(--black);
}

.services .box-container .box img{
  height: 20rem;
  width:14rem;
}

.services .box-container .box h3{
  color:var(--white);
  font-size: 1.7rem;
  padding-top: 1rem;
}
.see-btn1 {
  display: inline-block ;
  background: rgb(64, 64, 60);
  border: 1px rgb(78, 78, 68);
  border-radius: 2.5px;
  margin-top: 3rem;
  margin-left: 64rem;
  margin-bottom: 3rem;
  color: var(--white);
  font-size: 1.9rem;
  padding: 1rem 3rem;
  cursor: pointer;  
  text-decoration:none ;
}

.about .content{
  flex:1 1 41rem;
  text-align: center;
  
}

.about .content h3{
  font-size: 3rem;
  color:var(--black);
}

.about .content p{
  font-size: 1.5rem;
  color:var(--light-black);
  line-height: 2;
  padding:1rem 0;
}


 .see-btn1:hover {
  background:rgb(142, 139, 139);
  color: white;
}

.home-reviews {
  background: var(--light-bg);
}

.home-reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.home-reviews .box-container .box {
  border: var(--light-bg);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.home-reviews .box-container .box:hover .image img {
  transform: scale(1.1);
}

.home-reviews .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.home-reviews .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.home-reviews .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-reviews .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.home-reviews .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.home-reviews .see-more {
  text-align: center;
  margin-top: 2rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .image {
  flex: 1 1 41rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background: var(--light-bg);
}

.about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--black);
  text-align: justify;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-head{
  font-size: 10rem;
  color:var(--white);
  text-shadow: var(--text-shadow);
  text-align: justify;
  margin-left: 0px;
  text-transform: capitalize;
}

.info-background-image{
  background-image: url('../img/info-bg.jpg');
  margin-top:3rem;
  width: 100%;
  height:80vh;
  background-repeat: no-repeat;
  background-size:contain!important ;
}

.info-about{
  background-color:rgba(200, 200, 193, 0.763);
  font-size:16px;
  float: right ;
  margin-right: 290px;
  color:var(--black);
  padding: 12px;
}

.card-title{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;

}
.card-text{
  font-size:15px;
  margin-bottom: 10px;
}
.col-md-4{
  display: inline-block;
  margin-left:-10px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}
  
.client-reviews{    
  background: var(--light-bg);
  display: grid;
  place-items: center;

}

.testimonials{
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto 80px auto;
}

.single-item{
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
}

.profile{
  margin-bottom: 30px;
  text-align: center;    
}

.img-area {
margin: 0 15px 15px 15px;
}

.img-area img {
height: 200px;
width: 200px;
border-radius: 50%;
border: 7px solid rgb(78, 78, 72);
}

.content{
  font-size: 18px;
}

.content p {
text-align: justify;
}

.content p span {
font-size: 48px;
margin-right: 20px;
color: rgb(136, 124, 54);
}

.bio h4 {
font-family: 'Berkshire Swash', cursive;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
background-color: rgb(212, 212, 207);
}


.heading-portfolio{
  font-size:5rem;
  color:var(--black);
  text-shadow: rgb(255, 255, 255);
  margin-top: 10rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
  text-decoration: underline rgb(149, 136, 60) 6px;
  margin-bottom:60px;
  }

  .sub-head{
  font-size: 1.8rem;
  text-align: center;
  }


/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  } 
}

#port-menu{
  color: #111;
}

#port-menu :hover{
  color: rgb(181, 168, 31);
}

.port-btn{
  background: rgb(149, 140, 42);
}

.active, .port-btn:hover {
  background-color: rgb(193, 186, 186);
  color: rgb(255, 255, 255);
}

.gallery .box-container .box img{
  height: 400px;
  width: 250px;
  object-fit: cover;
}

.gallery .box-container .box .title{
  position: absolute;
  top:-10rem; left:0; right: 0;
  background:#333;
  color:#fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title{
  top:0;
}


.contact{
  margin-bottom: 100PX;
  margin-top: 6rem;
}
.contact .contact-form {
  padding: 2rem;
  background: rgba(200, 200, 193, 0.763); 
}

.contact .contact-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;

}

.contact .contact-form .flex .inputBox {
  flex: 1 1 41rem;
}

.contact .contact-form .flex  .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: var(--light-black);
  text-transform: none;
  margin-top: 1.5rem;
  border: var(--border);
}

.contact .contact-form .flex .inputBox input:focus {
  background: var(--black);
  color: var(--white);
}

.contact .contact-form .flex .inputBox input:focus::placeholder {
  color: var(--light-white);
}

.contact .contact-form .flex .inputBox h4 {
  font-size: 1.5rem;
  color: var(--light-black);
  margin-right: 0%;
}

.contact .contact-form .flex .message-box {
 width: 100%;
 position: relative;
 margin-bottom: 15px;

}

.contact .contact-form .flex .message-box .other-info{
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: var(--light-black);
  text-transform: none;
  margin-top: 1.5rem;
  border: var(--border);
}

.contact .contact-form .flex .message-box textarea:focus {
  background: var(--black);
  color: var(--white);
}

.contact .contact-form .flex .message-box input:focus::placeholder {
  color: var(--light-white);
}

.contact .contact-form .flex .message-box h4 {
  font-size: 1.5rem;
  color: var(--light-black);
  margin-right: 0%;
}
.booking .book-form .submit-btn {
  margin-top: 2rem;
}

.submit-btn{
  display: inline-block ;
  background: rgb(64, 64, 60);
  border: 1px rgb(78, 78, 68);
  border-radius: 2.5px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 1rem;
  font-weight: 500;
  cursor: pointer; 
  text-decoration:none ; 
}

.submit-btn:hover {
  background:rgb(142, 139, 139);
  color: white;
}

.popup{
  width: 400px;
  background: #92957093;
  color: #111;
  border-radius: 6px;
  position: center;
  top:0%;
  left:0%;
  margin-top: 10rem;
  text-align: center;
  padding:0 30px 30px;

}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px #7d7d7d;
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  text-align: center;
}
.popup p{
  font-size:16px;
}

.popup button{
  width: 100%;
  margin-top:50px ;
  padding: 10px 0;
  background: #989644;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px #7d7d7d;
  text-align: center;

}
.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

/* media queries  */

@media screen and (max-width: 1200px) {
  section {
    padding: 5px;
  }
  .see-btn1{
    margin-left: 50rem;
   }
   .p-head{
    font-size: 10rem;
    margin-top: 10rem;
  }
  
  .info-background-image{
    background-size:cover!important ;

  }
}
@media (max-width: 940px){
  .p-head{
    font-size: 10rem;
    margin-top: 10rem;
  }
  
  .info-background-image{
    height:100%;
    background-size:cover!important ;
  }

  .info-about{
    width: auto;
    font-size:16px;
    float: none ;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
  .see-btn1{
    margin-left: 16rem;
   }
   .p-head{
    font-size: 10rem;
    margin-top: 10rem;
  }
  
  .info-background-image{
    height:100%;
    background-size:cover!important ;

  }
  
  .info-about{
    width: auto;
    font-size:16px;
    float: none ;
  }
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 4rem;
  }
  .see-btn1{
    margin-left: 16rem;
   }

   .p-head{
    font-size: 6rem;
    margin-top: 5rem;

   }

   .info-about{
    margin-right: 20px;
  
   }
   .info-background-image{
    background-size: cover;
   }
  }

  @media screen and (max-width: 990px) {
    .home .carousel-item{
      min-height: none;
      height: 100%;
    }
    .navbar {
      padding: 0px;
    }
    .header .navbar a{
      text-align: center;
    }
  
  
    .navbar-toggler {
      display: block;
      position: absolute;
      top: 13px;
      right: 13px;
      color: rgb(255, 255, 255);
    }
  
    .navbar-toggler {
      background :rgba(204, 206, 192, 0.688);
      color: rgb(255, 255, 255);
    }

   .slogan-para{
    margin-top: 10px;
   }

   .see-btn1{
    margin-left: 15rem;
   }
   .services .box-container .box img{
    height: 15rem;
    width:12rem;
  }

  .reviews{
    padding: 0%;
    margin: 0%;
  }
  .home-about.image{
    width:400px;
  }
  
  }

  @media (max-width:450px){
    
    html{
       font-size: 50%;
    }
 
    .heading-title{
       font-size: 3rem;
    }
    .contact .heading-title{
      font-size: 3rem;
    }
    .p-head{
      font-size: 5rem;
      margin-top: 4rem;
    }
  
   .home{
    margin-top: 9rem;
    min-height: auto;
   }
   .slogan-para{
    margin-top: 10px;
   }

   .see-btn1{
    margin-left: 15rem;
   }
   .services .box-container .box img{
    height: 15rem;
    width:12rem;
  }

  .reviews{
    padding: 0%;
    margin: 0%;
  }

    .info-background-image{
      background-size:contain!important ;
      margin-top: 3rem;
      min-height: 70vh;
  
    }
    .info-about{
      margin-top: 5rem;
    }
    .i-slider span img{
      width:100px;
      height:100px;
      border-radius:10px;
      object-fit:contain;
      transition:2s; 
    }

 }
 

 @media (max-width: 280px){
  .see-btn{
    margin-left: 0px;
  }
  .navbar {
    padding: 0px;
  }
  .logo{
    height:30px;
    width:60px;
  }
  .header .navbar a{
    text-align: center;
  }
  .navbar .menu {
    display: none;
  }

  .navbar .icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    color: rgb(255, 255, 255);
  }

  .navbar.show {
    background :rgba(204, 206, 192, 0.688);
    color: rgb(255, 255, 255);
  }

  .navbar.show .menu {
    display: block;
    width: 100%;
    padding:5px ;
    text-align: center;
  }

  .navbar.show .menu a {
    width:100%;
    padding:5px ;
   
  }
  .navbtn{
    float: inline-end;
   padding-left: 2PX;
   padding-right: 2px;
 }
 .slogan-para{
  margin-top: 10px;
 }

 .see-btn1{
  margin-left: 15rem;
 }
 .services .box-container .box img{
  height: 15rem;
  width:12rem;
}

.reviews{
  padding: 0%;
  margin: 0%;
}
 }
 @media (max-width: 430px){
  .see-btn1{
    margin-left: 0;
    width:180px;
    margin-top: 50px;
    margin-right:10px;
   }
   
   .slogan-para{
    margin: 10px;
    min-width: 350px;
    height: 239px;
   }

    .home-about .image img {
      width:350px;
      height:210px;
   }
   
   .see-btn1 {
    margin-left: 0;
   }
   .navbar {
    padding: 0px;
  }
  .header .navbar a{
    text-align: center;
  }
  .navbar .menu {
    display: none;
  }

  .navbar .icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
    color: rgb(255, 255, 255);
  }

  .navbar.show {
    background :rgba(204, 206, 192, 0.688);
    color: rgb(255, 255, 255);
  }

  .navbar.show .menu {
    display: block;
    width: 100%;
    padding:5px ;
    text-align: center;
  }

  .navbar.show .menu a {
    width:100%;
    padding:5px ;
   
  }
  .navbtn{
    float: inline-end;
   padding-left: 2PX;
   padding-right: 2px;
 }
 .slogan-para{
  margin-top: 10px;
 }

 .see-btn1{
  margin-left: 15rem;
 }
 .services .box-container .box img{
  height: 15rem;
  width:12rem;
}

.reviews{
  padding: 0%;
  margin: 0%;
}
.i-slider{
  margin-left:none ;
}
 }